<a href="/authors/{{author.slug}}" title="{{author.name}}">
    <div class="authors-card item">
        {{#if author.avatar}}
        <img src="{{author.avatar}}" alt="{{author.name}}" title="{{author.name}}" />
        {{else}}
        <img src="/img/default.png" alt="{{author.name}}" title="{{author.name}}" />
        {{/if}}
        
        <h3>{{author.name}}</h3>
    </div>
</a>