<section class="section-info">
    <div class="section-info-header">
        <h1>{{title}}</h1>

        <a href="/admin/users/new" title="New User" class="btn">New <i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="section-info-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>
                        {{#if this.attributes.avatar}}
                        <img src="{{this.attributes.avatar}}" alt="{{this.attributes.first_name}} {{this.attributes.last_name}}" title="{{this.attributes.first_name}} {{this.attributes.last_name}}" />
                        {{else}}
                        <img src="/img/default.png" alt="{{this.attributes.first_name}} {{this.attributes.last_name}}" title="{{this.attributes.first_name}} {{this.attributes.last_name}}" />
                        {{/if}}
                    </td>
                    <td>{{this.attributes.first_name}} {{this.attributes.last_name}}</td>
                    <td>{{this.attributes.username}}</td>
                    <td>{{parseDate this.attributes.created_at}}</td>
                    <td>{{parseDate this.attributes.updated_at}}</td>
                    <td>
                        {{#if (equals this.attributes._id ../admin.user._id)}}
                        <a href="/admin/users/{{this.attributes._id}}/edit" title="Edit User" class="btn btn-primary p-1"><i class="fa-solid fa-pencil m-0"></i></a>
                        {{else}}
                        <a href="javascript:void(0)" data-delete="/admin/users/{{this.attributes._id}}/delete" title="Delete User" class="btn btn-danger p-1"><i class="fa-solid fa-trash-alt m-0"></i></a>
                        <a href="/admin/users/{{this.attributes._id}}/edit" title="Edit User" class="btn btn-primary p-1"><i class="fa-solid fa-pencil m-0"></i></a>
                        {{/if}}
                    </td>
                </tr>
                {{else}}
                <tr><td colspan="9">There are no users to show here</td></tr>
                {{/each}}
            </tbody>
        </table>

        {{#if users}}
        {{>_pagination}}
        {{/if}}
    </div>
</section>

<section class="modal">
    <div class="modal-card">
        <div class="modal-head">
            <h2>Delete User</h2>
        </div>
        <div class="modal-body">
            <p>Do you really want to delete this user?</p>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn p-1" title="Cancel" id="btn-cancel">Cancel</a>
            <a href="" title="Delete User" class="btn btn-danger p-1 ml-1" id="btn-delete">Yes, I want!</a>
        </div>
    </div>
</section>