<section class="section-info">
    <div class="section-info-header">
        <h1>{{title}}</h1>

        <a href="/admin/authors/new" title="New Author" class="btn">New <i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="section-info-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each authors}}
                <tr>
                    <td><img src="{{this.attributes.avatar}}" alt="{{this.attributes.name}}" title="{{this.attributes.name}}" /></td>
                    <td>{{this.attributes.name}}</td>
                    <td>{{this.attributes.created_at}}</td>
                    <td>{{this.attributes.updated_at}}</td>
                    <td>
                        <a href="javascript:void(0)" data-delete="/admin/authors/{{this.attributes.slug}}/delete" title="Delete Author" class="btn btn-danger p-1"><i class="fa-solid fa-trash-alt m-0"></i></a>
                        <a href="/admin/authors/{{this.attributes.slug}}/edit" title="Edit Author" class="btn btn-primary p-1"><i class="fa-solid fa-pencil m-0"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<section class="modal">
    <div class="modal-card">
        <div class="modal-head">
            <h2>Delete Author</h2>
        </div>
        <div class="modal-body">
            <p>Do you really want to delete this author?</p>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn p-1" title="Cancel" id="btn-cancel">Cancel</a>
            <a href="" title="Delete Author" class="btn btn-danger p-1 ml-1" id="btn-delete">Yes, I want!</a>
        </div>
    </div>
</section>