<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{status}} {{message}} | {{config.app.name}}</title>
    <link rel="stylesheet" href="/css/site/style.css">
</head>
<body>
    <section class="http-error">
        <h1><span>{{status}}</span><br>{{message}}</h1>
        <img src="/img/error.jpg" alt="{{status}} {{message}}" />
    </section>
</body>
</html>