<header class="header-default">
    <section class="container">
        <nav class="header-nav">
            <a href="/" title="{{config.app.name}}"><img src="/img/logo.png" alt="{{config.app.name}}" class="logo" /></a>
            <ul>
                <li><a href="/" title="Home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/books" title="Books"><i class="fa-solid fa-book"></i> Books</a></li>
                <li>
                    <a href="javascript:void(0)" title="Categories"><i class="fa-solid fa-tags"></i> Categories</a>
                    <ul class="submenu">
                        {{#each categories}}
                        <a href="/categories/{{this.attributes.slug}}" title="{{this.attributes.name}}"><li>{{this.attributes.name}}</li></a>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" title="Authors"><i class="fa-solid fa-book-open-reader"></i> Authors</a>
                    <ul class="submenu">
                        {{#each authors}}
                        <a href="/authors/{{this.attributes.slug}}" title="{{this.attributes.name}}"><li>{{this.attributes.name}}</li></a>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="header-info">
            <h1 class="header-title">{{title}}</h1>
        </div>
    </section>
</header>