<section class="section-info">
    <div class="section-info-header">
        <h1>{{title}}</h1>
    </div>
    <div class="section-info-body">
        <form action="/admin/books/{{book.attributes.slug}}/edit" method="POST" enctype="multipart/form-data" class="form">
            <div class="grid-2">
                <div class="form-group">
                    <label class="form-label" for="poster">Poster:</label>
                    <input type="file" name="poster" id="poster" accept="image/*" class="form-input">
                </div>
                <div class="form-group">
                    <label class="form-label" for="gallery">Gallery:</label>
                    <input type="file" name="gallery" id="gallery" accept="image/*" multiple="multiple" class="form-input">
                </div>
            </div>

            <div class="images">
                {{#each book.attributes.images}}
                <div class="images-card">
                    <a href="/admin/books/{{../book.attributes.slug}}/images/{{this.attributes.filename}}/delete" title="Remove Image" class="images-remove">&times;</a>
                    <img src="{{this.attributes.url}}" alt="{{this.attributes.filename}}" title="{{this.attributes.filename}}" />
                </div>
                {{/each}}
            </div>
            
            <div class="grid-2">
                <div class="form-group">
                    <label class="form-label" for="title">Title:</label>
                    <input type="text" name="title" id="title" placeholder="Title" class="form-input" value="{{book.attributes.title}}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="slug">Slug:</label>
                    <input type="text" name="slug" id="slug" placeholder="Slug" class="form-input" value="{{book.attributes.slug}}">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="visible">Visible:</label>
                <select name="visible" id="visible" class="form-input" required>
                    {{#if book.attributes.visible}}
                    <option value="1" selected>Yes</option>
                    <option value="0">No</option>
                    {{else}}
                    <option value="1">Yes</option>
                    <option value="0" selected>No</option>
                    {{/if}}
                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="isbn">ISBN:</label>
                <input type="text" name="isbn" id="isbn" placeholder="ISBN" class="form-input" value="{{book.attributes.isbn}}" required>
            </div>

            <div class="grid-2">
                <div class="form-group">
                    <label class="form-label" for="volume">Volume:</label>
                    <input type="number" name="volume" id="volume" min="1" placeholder="Volume" class="form-input" value="{{book.attributes.volume}}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="edition">Edition:</label>
                    <input type="number" name="edition" id="edition" min="1" placeholder="Edition" class="form-input" value="{{book.attributes.edition}}" required>
                </div>
            </div>

            <div class="grid-2">
                <div class="form-group">
                    <label class="form-label" for="pages">Pages:</label>
                    <input type="number" name="pages" id="pages" min="1" placeholder="Pages" class="form-input" value="{{book.attributes.pages}}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="language">Language:</label>
                    <input type="text" name="language" id="language" placeholder="Language" class="form-input" value="{{book.attributes.language}}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-label" for="release_date">Release Date:</label>
                <input type="date" name="release_date" id="release_date" class="form-input" value="{{book.attributes.release_date}}" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="description">Description:</label>
                <textarea name="description" id="description" class="form-input" placeholder="Description" rows="5">{{book.attributes.description}}</textarea>
            </div>
            <div class="form-group">
                <label class="form-label" for="details">Details:</label>
                <textarea name="details" id="details" class="text-plugin">{{book.attributes.details}}</textarea>
            </div>

            <div class="grid-2 my-2">
                <div class="p-2 border">
                    <h3>Categories:</h3>
                    <div class="grid-4 mt-3">
                        {{#each categories}}
                            {{#if (includes this.attributes.slug ../book.attributes.categories)}}
                            <div>
                                <input type="checkbox" name="categories[]" id="category_{{this.attributes.slug}}" value="{{this.attributes.slug}}" checked>
                                <label class="form-label" for="category_{{this.attributes.slug}}">{{this.attributes.name}}</label>
                            </div>
                            {{else}}
                            <div>
                                <input type="checkbox" name="categories[]" id="category_{{this.attributes.slug}}" value="{{this.attributes.slug}}">
                                <label class="form-label" for="category_{{this.attributes.slug}}">{{this.attributes.name}}</label>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>

                <div class="p-2 border">
                    <h3>Authors:</h3>
                    <div class="grid-4 mt-3">
                        {{#each authors}}
                            {{#if (includes this.attributes.slug ../book.attributes.authors)}}
                            <div>
                                <input type="checkbox" name="authors[]" id="author_{{this.attributes.slug}}" value="{{this.attributes.slug}}" checked>
                                <label class="form-label" for="author_{{this.attributes.slug}}">{{this.attributes.name}}</label>
                            </div>
                            {{else}}
                            <div>
                                <input type="checkbox" name="authors[]" id="author_{{this.attributes.slug}}" value="{{this.attributes.slug}}">
                                <label class="form-label" for="author_{{this.attributes.slug}}">{{this.attributes.name}}</label>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn">Salvar <i class="fa-solid fa-floppy-disk"></i></button>
        </form>
    </div>
</section>