<div class="books-card">
    {{#if book.poster}}
    <img src="{{book.poster}}" alt="{{book.title}}" title="{{book.title}}" class="books-img" />
    {{else}}
    <img src="/img/default-book.png" alt="{{book.title}}" title="{{book.title}}" class="books-img" />
    {{/if}}

    <div class="books-info">
        <a href="/books/{{book.slug}}" title="{{book.title}}"><h3 class="books-title">{{book.title}}</h3></a>

        <div>
            <div class="books-authors">
                <img src="http://localhost:3000/uploads/4cdcc2bca52f166efa5fa86484ab0dee.jpg" title="" alt="" />
                <p>Ruth Rocha</p>
            </div>
        </div>
    </div>
</div>