<div class="books-card">
    {{#if book.poster}}
    <img src="{{book.poster}}" alt="{{book.title}}" title="{{book.title}}" class="books-img" />
    {{else}}
    <img src="/img/default-book.png" alt="{{book.title}}" title="{{book.title}}" class="books-img" />
    {{/if}}

    <div class="books-info">
        <a href="/books/{{book.slug}}" title="{{book.title}}"><h3 class="books-title">{{book.title}}</h3></a>

        {{#if book.author}}
        <div>
            <div class="books-authors">
                <img src="{{book.author.attributes.avatar}}" title="{{book.author.attributes.name}}" alt="{{book.author.attributes.name}}" />
                <p>{{book.author.attributes.name}}</p>
            </div>
        </div>
        {{/if}}
    </div>
</div>