<nav class="sidebar">
    <div class="sidebar-header">
        <img src="{{admin.user.avatar}}" alt="{{admin.user.first_name}} {{admin.user.last_name}}" title="{{admin.user.first_name}} {{admin.user.last_name}}" />
        <p>{{admin.user.first_name}} {{admin.user.last_name}}</p>
    </div>
    <ul class="sidebar-body">
        <a href="/admin" title="Home"><li><i class="fa-solid fa-house"></i> Home</li></a>
        <a href="/admin/users" title="Users"><li><i class="fa-solid fa-users"></i> Users</li></a>
        <a href="/admin/books" title="Books"><li><i class="fa-solid fa-book"></i> Books</li></a>
        <a href="/admin/categories" title="Categories"><li><i class="fa-solid fa-tags"></i> Categories</li></a>
        <a href="/admin/authors" title="Authors"><li><i class="fa-solid fa-book-open-reader"></i> Authors</li></a>
        <a href="/admin/logout" title="Logout"><li><i class="fa-solid fa-right-to-bracket"></i> Logout</li></a>
    </ul>
</nav>